@media (min-width: 992px)
{
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 10px 20px;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu
	{
		z-index: 10;
	}
	.dropdown-menu
	{
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
	    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	    -webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    border-radius: 0;
	    border: 0;
	    margin: 0;
	    padding: 0;
	    right: 0;
	}
	.dropdown-item
	{
		font-size: 13px;
	    color: #666666;
	    padding: 9px 18px;
	}
	.dropdown-item:focus, .dropdown-item:hover
	{
		background: #004777;
		color: #fff;
	}
	.all-product
	{
		-ms-flex-order: 3;
		order: 3;
	}
	.menu-header .dropdown:hover > .dropdown-menu,
	.menu-header .dropdown-menu li {
	  display: block;
	}

	.menu-header .dropdown > .dropdown-toggle:active {
	    pointer-events: none;
	}
}
@media (max-width: 990px)
{
	.navbar 
	{
		border: 1px solid #e5e5e5;
	}
	.navbar-collapse
	{
	    background: #f5f5f5;
	}
	.product-prom ul
	{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
    	flex-wrap: wrap;
	}
	.product-prom ul li
	{
		padding: 0 5px;
    	margin-right: 20px;
	}
	.header-top .row
	{
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.product,
	.item-featured
	{
		text-align: center;
	}
	.top-menu ul > li
	{
		margin: 5px 0;
	}
	.inner-form
	{
		margin: 20px auto;
	}
}
@media (max-width: 600px)
{
	.product-provide:before
	{
		position: relative; 
	    top: 5px;
	}
	.breadcrumbs-product,
	.form-seach-mobile .btn-search
	{
		font-size: 13px;
	}
	::-webkit-input-placeholder {
	  font-size: 13px;
	}
	:-ms-input-placeholder {
	  font-size: 13px;
	}
	::placeholder {
	  font-size: 13px;
	}
	.inner-form
	{
		padding-left: 10px;
		overflow: hidden;
	}
	.dropdown-language .dropdown-menu.show
	{
	  -webkit-transform: translate3d(-85px, 0px, 0px);
       transform: translate3d(-85px, 0px, 0px);
	}
}
@media (max-width: 1024px)
{
	.form-submit
	{
		width: 100%;
	}
	.inner-form
	{
		max-width: 90%;
	}
}
@media (min-width: 1200px)
{
	.container {
	    max-width: 1300px;
	}
}
@media (min-width: 320px)
{
	.top-menu ul > li > a, #mobilelanguage {
	    font-size: 11px;
	}
}
@media (min-width: 330px) and (max-width: 990px)
{
	.top-menu ul > li > a, #mobilelanguage
	{
		font-size: 13px;
	}
}
